// place your custom styles here
.vp-navbar .vp-nav-links,
.dropdown-wrapper .dropdown-subtitle,
.dropdown-wrapper .nav-link {
    font-size: 0.95rem;
}
.dropdown-wrapper .dropdown-subtitle {
    text-transform: none;
    color: var(--dark-grey);
}
.dropdown-subitem-wrapper {
    text-indent: 10px;
}

// @media (min-width: 1440px) {
//     .vp-feature-item {
//         flex-basis: calc(33% - 3rem);
//     }
// }
